body {
    font-family:Roboto, "san-serif";
    margin: 0%;
}
.top-header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
}

.th-container {
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 10px 100px;
    margin-bottom: 80px;

}
.logo {
    color: #f9faf8;
    font-size:24px;
    font-weight: bold;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
    gap: 16px;
    font-size: 18px;
    
    
}
a {
    text-decoration: none;
    color: #e5e7eb;
}

/* Hero Section */

.hero {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.hero-img img {
    max-width: 600px;
    height: 300px;
    padding-left: 100px;
    
}

.hero-container {
    display: flex;
    max-width: 600px;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 18px;
    color: #e5e7eb;
    padding-left:100px ;
    
}

/* Button */

.sign {
    width: 100px;
    background-color: royalblue;
    color: #e5e7eb;
    border: none;
    padding: 10px 24px;
    border-radius: 8px;
    font-weight: bold;

}

.hero-main {
    font-size: 48px;
    font-weight: bolder;

    
}
.sub-header {
    font-size: 18px;
    margin-bottom: 7px;
}

.Section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    padding: 0 192px;
}

.text {
    width: 275px;
    font-size: 17px;
}

.info {
    padding-bottom: 50px;
    width: 280px;
    padding-right: 25px;
}

.h1 {
    padding: 12 0px
    
}

.section-3 {
    background-color:#e5e7eb;
    padding: 50px 50px;
    font-size: 36px;

}

.quote {
    color: #1f2937;
}

.sub-quote {
    color: #1f2937;
    font-weight: bolder;
    text-align: right;
    font-size: 25px;
    padding: 19px;
    padding-right: 58px;    
}