body {
    font-family:Roboto, "san-serif";
    margin: 0%;
}
.top-header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
}

.th-container {
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 10px 100px;
    margin-bottom: 80px;

}
.logo {
    color: #f9faf8;
    font-size:24px;
    font-weight: bold;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
    gap: 16px;
    font-size: 18px;
    
    
}
a {
    text-decoration: none;
    color: #e5e7eb;
}