body {
    font-family:Roboto, "san-serif";
    margin: 0%;
}
.top-header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
}

.th-container {
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 10px 100px;
    margin-bottom: 80px;

}
.logo {
    color: #f9faf8;
    font-size:24px;
    font-weight: bold;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
    gap: 16px;
    font-size: 18px;
    
    
}
a {
    text-decoration: none;
    color: #e5e7eb;
}

/* Hero Section */

.hero {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.hero-img img {
    max-width: 600px;
    height: 300px;
    
}

.hero-container {
    display: flex;
    max-width: 600px;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 18px;
    color: #e5e7eb;

    
}

/* Button */

.sign {
    width: 100px;
    background-color: blue;
    color: #e5e7eb;
    border: none;
    padding: 10px 24px;
    border-radius: 8px;
    font-weight: bold;

}

.hero-main {
    font-size: 48px;
    font-weight: bolder;

    
}
.sub-header {
    font-size: 18px;
    margin-bottom: 7px;
}